.section {
  width: 100%;
  background-color: var(--color-white);
  padding: var(--space-3xl) 0 var(--space-3xl);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-2xl);
}

