.section {
  width: 100%;
  background-color: var(--color-gray-50);
  padding: var(--space-2xl) 0 var(--space-3xl);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-2xl);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xl);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0 var(--space-lg);
    gap: var(--space-2xl); 
  }
}
