.curveContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 10;
  color: var(--color-white); 
}

.curveSvg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px; 
}

@media (max-width: 768px) {
  .curveSvg {
    height: 40px;
  }
}
