.section {
  width: 100%;
  padding: var(--space-4xl) 0;
  background-color: var(--color-white);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-xl);
  display: flex;
  flex-direction: column;
}

.topGrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr; 
  gap: var(--space-4xl);
  align-items: center; 
}

.leftCol {
  display: flex;
  flex-direction: column;
}

.rightCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 900px) {
  .section {
    padding: var(--space-2xl) 0;
  }

  .topGrid {
    grid-template-columns: 1fr;
    gap: var(--space-2xl);
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0 var(--space-md);
  }
}
