.slantedWrapper {
  background-color: var(--color-gray-100);
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  border-radius: 4px;
}

.innerPadding {
  padding: var(--space-3xl) var(--space-2xl) var(--space-2xl) var(--space-2xl);
}

@media (max-width: 900px) {
  .slantedWrapper {
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
  }

  .innerPadding {
    padding: var(--space-2xl) var(--space-lg) var(--space-xl) var(--space-lg);
  }
}

@media (max-width: 480px) {
  .innerPadding {
    padding: var(--space-xl) var(--space-md) var(--space-md) var(--space-md);
  }
}
